#main_discografia{
    img{
        float: center;
        width: 210px;
        height: 140px;
        margin: 15px;
    }
}

.titulo_albumes{
    margin: 50px 40px;
    color: $p-color;
    @extend %txt-ag;
    text-decoration: underline;
    @extend %h2txt;
}

.nombre_disco{
    @extend %txt-ag;
    color: $p-color;
    display: block;
    margin: 30px;
    @extend %h2txt;
    font-weight: 400;
}